:root{
    --vermelho:#e50914;
    --preto:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;   
}
/* elementos base*/
body{        
    background: var(--preto);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

header .container{      
    display: flex;
    flex-direction: row;
    align-items: center;    
}     

header .Logo{    
    width: 200px;
    margin: 20px 50px 20px 50px;
    cursor: pointer;
}


header nav a {      
    font-size: 200%;
    text-decoration: none;
    color: #AAA;
    margin-right: 15px;       
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header nav a:hover{
    color: white;
}

/*filme principal*/


.filme-principal{       
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/Greys-Anatomy-capa.jpg');
    height: 1200px;    
    width: 100%;
    background-size: cover;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    
}
.filme-principal .container{
     margin:20% 10% 10% 3%;  
     width: 100%;
     height: 100%;  
        
}

.filme-principal .titulo{
    width: 30%;    
}

.filme-principal .descricao{
    margin: 1% 50% 0 0% ; 
    width: 60%;
    font-size: 300%;
}

.filme-principal .botoes{  
    font-size: 600%;   
    width: 100%;      
    cursor: pointer;
    transition: .3s ease all;
}

.filme-principal .botoes .botao {
    font-size: 50%;   
    padding: 0.5% 2%;
}
.filme-principal .botoes .botao i{
    font-size: 100%;   
}

.filme-principal .botoes .botao:nth-child(1){
    background-color: rgba(249,249,249,.80);
    color: black;
}
.filme-principal .botoes .botao:nth-child(2){
    color: white;
    background-color: rgba(100,100,100,.80);
}

.filme-principal .botoes .botao:hover{
    background-color: white;
    background: rgba(160,160,160,.50)
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes .filmes{
font-size: 50px;
margin:1% 1% 1% 3%;
}
.carrosel-series .series{
    font-size: 50px;
    margin:0.5% 1% 1% 3%;
    }
