/*@media screen and (max-width:500px){
    header .container{
        display: flex;
        flex-direction:column;  
                               
    }      
    header .container .Logo{
        width: 30%;
        margin: 5%;
    } 
    header nav a{            
        font-size: 100%;    

    }
}
@media screen and (max-width: 500px){
    main .filme-principal .container{
        margin:20% 10% 10% 3%; 
    }
    main .filme-principal .container .descricao{
        font-size: 90%;
        margin: 1% 10% 0 0% ; 
    }
    main .filme-principal .botoes{
    margin: 1% 50% 0 0% ; 
    max-width: 90%;
    font-size: 200%;
    }
    
}




